 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/son02102_an_abstract_representation_of_artificial_intelligence__013c468a-d051-4bdb-8395-936f7e8cfa40.png');
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 259px 301px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px 301px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 71px;
  min-height: 16px;
  width: 323px;
  min-width: 158px;
  margin: -55px 65px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 71px;
}

.u-section-1 .u-icon-2 {
  height: 71px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 60px 0;
  padding: 18px 36px 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 82px;
    margin-right: 37px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -82px;
    margin-left: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 78px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -71px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 129px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -181px;
    margin-left: auto;
  }
}